.heroContainer {
  display: flex;
  /* flex-direction: row; */
  padding-top: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10rem;
}
.heroParent {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.heroParentTypography {
  font-size: 3rem;
  margin: 0;
  color: #052f5f;
}
.heroParentTypographyMob {
  font-size: 1.75rem !important;
  text-align: center;
  margin-bottom: 10px;
  color: #052f5f;
}
.heroParentMain {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.heroParentContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.heroPatentinternal {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20;
}
.heroWhatsaAPP {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 242px;
  height: 45px;
  background: #03a87c;
  border-radius: 5px;
}
.heroImage {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.heroImageMob {
  display: flex;
  /* flex: 1; */
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

@media only screen and (max-width: 959px) {
  .heroParent {
    margin: auto;
    max-width: 100%;
    padding-left: 0.5rem;
    text-align: center;
  }
  .heroWhatsaAPP {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 242px;
    height: 45px;
    background: #03a87c;
    border-radius: 5px;
    margin-left: 30% !important;
  }
  .heroParentContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
    .heroWhatsaAPP {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        width: 242px;
        height: 45px;
        background: #03a87c;
        border-radius: 5px;
        margin-left: 10% !important;
      }
      .whatsappImage{
          margin-left: 50px !important;
      }
}
